<!DOCTYPE html>
<html>
<head>
	<title>Sucker for PAIN</title>
	<link rel="stylesheet" type="text/css" href="static/notes.css">

	<!-- 有字库 -->
	<link href='http://cdn.webfont.youziku.com/webfonts/nomal/107635/46820/59afa5c9f629d811e4fdab2c.css' rel='stylesheet' type='text/css' />
	<link href='http://cdn.webfont.youziku.com/webfonts/nomal/107635/46908/59b23c63f629d81bf02ed5ef.css' rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="n-home">
		<a href="index.html">HOME</a>
	</div>

	<div class="n-bg csscfb48e2e61a473">
		<div class="n-bg-bg">
			<img src="lib/images/notes.jpg"></img>
		</div>
		<div class="n-logo">
			<h1>NOTES</h1>
			<p>You can only get challenges while chasing a better life.</p>
		</div>
		
	</div>

	<div class="n-board">
		<div id="n1" class="n-board-bar csscfb48e2e61a473">
			<div class="n-board-content">
				<img class="n-board-img" src="lib/images/cookery.png">
				<p>Cookery</p>
			</div>
			<div class="n-board-mask" style="background: #f96;"></div>
			
		</div>



		<div id="n2" class="n-board-bar csscfb48e2e61a473">
			<div class="n-board-content">
				<img class="n-board-img" src="lib/images/coding.png">
				<p>Coding</p>
			</div>
			<div class="n-board-mask" style="background: #4990E2;"></div>
		</div>
		<div id="n3" class="n-board-bar csscfb48e2e61a473">
			<div class="n-board-content">
				<img class="n-board-img" src="lib/images/pains.png">
			<!-- <img class="n-board-img" src="lib/images/pains-x.png"> -->
				<p>Pain</p>
			</div>
			<div class="n-board-mask" style="background: #90f;"></div>
		</div>
		<div id="n4" class="n-board-bar csscfb48e2e61a473">
			<div class="n-board-content">
				<img class="n-board-img" src="lib/images/travel.png">
				<p>Travel</p>
			</div>
			<div class="n-board-mask" style="background: #093;"></div>
		</div>
		<div id="n5" class="n-board-bar csscfb48e2e61a473">
			<div class="n-board-content">
				<img class="n-board-img" src="lib/images/mylove.png">
				<p>MyLove</p>
			</div>
			<div class="n-board-mask" style="background: #c01;"></div>
		</div>
	</div>


	<div class="n-cookery cssd05652b3e1a473">
		<div class="n-cookery-title">
			<h1>cookery</h1>
			<p class="csscfb48e2e61a473"> < </p>
		</div>
		<div class="n-cookery-board">
			<div class="n-cookery-content">
				<!-- <ul>
					<li>cyhasdkjasd</li>
					<li>cyhasdkjasd</li>
					<li>cyhasdkjasd</li>
					<li>cyhasdkjasd</li>
					<li>cyhasdkjasd</li>
				</ul> -->
			</div>
		</div>
	</div>
	<!-- <div class="n-footer csscfb48e2e61a473">
		<p>designed by cuo</p>
	</div> -->
	<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
	<script src="src/jquery.easing.min.js"></script>
	<script type="text/javascript" src="notes.style.js"></script>
</body>
</html>